/* Write your code here. */
* {
  box-sizing: border-box;
}
.container-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png');
  height: 100vh;
  color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  align-items: center;
  font-family: 'Roboto';
  padding-bottom: 20px;
}

.container-2 {
  background-color: #cffafe;
  height: 50vh;
  width: 50vw;
  border-radius: 8px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: #1e293b;
  font-family: 'Roboto';
  border-color: #cffafe;
}
